# --- Database (PostgreSQL) ---
DB_HOST=localhost
DB_PORT=5432
POSTGRES_DB=postgres
DB_USER=cs_user
DB_PASS=change-me
DB_NAME=catalog_db

# --- Gateway (Vert.x) ---
HTTP_PORT=8080
CATALOG_HOST=catalog
CATALOG_PORT=8080
INVENTORY_HOST=inventory
INVENTORY_PORT=8080

# --- Web UI (Node.js) ---
PORT=3000
COOLSTORE_GW_ENDPOINT=http://gateway:8080
