*.html linguist-vendored
*.css linguist-vendored
*.js linguist-vendored
*.bat linguist-vendored
*.sh linguist-vendored
gradlew linguist-vendored
www linguist-vendored
gateway-vertx linguist-vendored
build/* linguist-vendored